table{
    width: 100%;
    border-collapse: collapse;
}



tbody tr:nth-child(odd){
    background: #0084ff;
}

tbody tr:nth-child(even){
    background: #00fbff;
}



th{
    border: 1px solid black;
}

td{
    border: 1px solid black;
}

thead{
    background: rgb(13, 105, 243);
}